@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

:root {
  --body-background: #f6f6f6;
  --white-color: #fff;
  --primary-color: #910091;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.65;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--body-background);
}

main {
  padding: 0 1rem;
  min-height: 70vh;
}

